<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!--Thư viện thêm và css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="js/date-time.js"></script>
    <script src="js/money-currency.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Hà Phát</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Shop
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-shopping-bag"></i>
                    <span>Sản phẩm</span>
                </a>
                <div id="collapseProduct" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tùy chọn một mục:</h6>
                        <a class="collapse-item" href="/admin/all-product">Tất cả sản phẩm</a>
                        <a class="collapse-item" href="/admin/add-product">Thêm sản phẩm mới</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Đơn hàng</span>
                </a>
                <div id="collapseOrder" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tùy chọn một mục:</h6>
                        <a class="collapse-item" href="/admin/all-order">Tất cả đơn hàng</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Khách hàng</span>
                </a>
                <div id="collapseCustomer" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tùy chọn một mục:</h6>
                        <a class="collapse-item" href="/admin/all-customer">Tất cả khách hàng</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePost"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="far fa-fw fa-newspaper"></i>
                    <span>Bài đăng</span>
                </a>
                <div id="collapsePost" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tùy chọn một mục:</h6>
                        <a class="collapse-item" href="/admin/all-post">Tất cả bài đăng</a>
                        <a class="collapse-item" href="/admin/add-post">Thêm bài đăng mới</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Nhân sự
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmployee"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Nhân viên</span>
                </a>
                <div id="collapseEmployee" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tùy chọn một mục:</h6>
                        <a class="collapse-item" href="buttons.html">Xem tất cả nhân viên</a>
                        <a class="collapse-item" href="cards.html">Thêm nhân viên mới</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSalary"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="far fa-fw fa-money-bill-alt"></i>
                    <span>Lương</span>
                </a>
                <div id="collapseSalary" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tùy chọn một mục:</h6>
                        <a class="collapse-item" href="buttons.html">Lương tất cả nhân viên</a>
                        <a class="collapse-item" href="cards.html">Tùy chỉnh lương</a>
                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Đào Thị Hiền</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Thông tin người dùng
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cài đặt
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div style="background-color: white;background-image:url(img/corner.png); 
                    background-position: right; background-repeat: no-repeat;opacity: 0.7; 
                    background-size: contain;" class="d-flex align-items-center p-3 my-3 text-dark-50 rounded shadow-sm">
                        <div class="lh-100">
                            <h3 style="color: black;" class="text-uppercase">Chi tiết đơn hàng: #DH<%= order.id %></h3>
                            <h6 class="mb-0 text-dark lh-100">
                                <script>displayOrderDatetime('<%= order.orderDate %>')</script>
                            </h6>
                            
                            <h5 class="text-dark mt-3">
                                Trang thái: 
                                <% if(order.status == 'Chờ duyệt') { %>
                                    <span class="badge badge-pill badge-warning"><%= order.status %> (ngày <script>displayChangeStatusDateTime('<%= order.statusChangeDate %>')</script>) <i class="bi bi-hourglass"></i></span>
                                <% } %>
                                <% if(order.status == 'Chuẩn bị') { %>
                                    <span class="badge badge-pill badge-info"><%= order.status %> (ngày <script>displayChangeStatusDateTime('<%= order.statusChangeDate %>')</script>) <i class="bi bi-box-seam"></i></span>
                                <% } %>
                                <% if(order.status == 'Đang vận chuyển') { %>
                                    <span class="badge badge-pill badge-primary"><%= order.status %> (ngày <script>displayChangeStatusDateTime('<%= order.statusChangeDate %>')</script>) <i class="bi bi-truck"></i></span>
                                <% } %>
                                <% if(order.status == 'Giao thành công') { %>
                                    <span class="badge badge-pill badge-success">
                                        <%= order.status %> (ngày <script>displayChangeStatusDateTime('<%= order.statusChangeDate %>')</script>) <i class="bi bi-check2-circle"></i>
                                    </span>
                                <% } %>
                                <% if(order.status == 'Đã hủy') { %>
                                    <span class="badge badge-pill badge-danger"><%= order.status %> (ngày <script>displayChangeStatusDateTime('<%= order.statusChangeDate %>')</script>) <i class="bi bi-x-circle"></i></span>
                                <% } %>

                            </h5>
                            
                            <div class="mt-3">

                                <span class="dropright">
                                    <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Đổi trạng thái
                                    </button>
                                    <div class="dropdown-menu animated--fade-in bg-light" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" 
                                        href="/admin/change-order-status?idOrder=<%=order.idOrder%>&status=Chuẩn bị&idAccount=<%=account.id%>">Chuẩn bị</a>
                                        <a class="dropdown-item" 
                                        href="/admin/change-order-status?idOrder=<%=order.idOrder%>&status=Đang vận chuyển&idAccount=<%=account.id%>">Đang vận chuyển</a>
                                        <a class="dropdown-item" 
                                        href="/admin/change-order-status?idOrder=<%=order.idOrder%>&status=Giao thành công&idAccount=<%=account.id%>">Giao thành công</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" 
                                        href="/admin/change-order-status?idOrder=<%=order.idOrder%>&status=Đã hủy&idAccount=<%=account.id%>">Hủy đơn hàng</a>
                                    </div>
                                </span>
    
                                <span class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#shippingFeeModal"><i class="bi bi-truck"></i></span>

                                <span class="btn btn-sm btn-outline-info" onclick="printBill()"><i class="bi bi-printer"></i></span>
    
                                <span class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#confirmDeleteOrderModal"><i class="bi bi-trash"></i></span>

                                <script>
                                    function printBill() {
                                        var mywindow = window.open('', 'PRINT');

                                        mywindow.document.write('<html><head><link href="css/sb-admin-2.min.css" rel="stylesheet"><title>In hóa đơn</title>');
                                        mywindow.document.write('</head><body >');
                                        mywindow.document.write('<h1>HÓA ĐƠN</h1>');
                                        mywindow.document.write(document.getElementById('bill').innerHTML);
                                        mywindow.document.write('</body></html>');

                                        mywindow.document.close();
                                        mywindow.onload = function () {
                                            mywindow.focus();

                                            mywindow.print();
                                        };
                                    }
                                </script>

                            </div>

                        </div>
                    </div>

                    <!-- Shipping Fee Modal -->
                    <div class="modal fade" id="shippingFeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="/admin/change-shipping-fee?idOrder=<%=order.idOrder%>&idAccount=<%=account.id%>" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa phí vận chuyển</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="shippingFeeInput">Phí vận chuyển</label>
                                            <input name="shippingFee" value="<%= order.shippingFee %>" type="number" class="form-control" id="shippingFeeInput" aria-describedby="emailHelp">
                                            <small id="emailHelp" class="form-text text-muted">Lưu ý phí vận chuyển sẽ không tính vào các loại doanh thu và thống kê.</small>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Confirm Delete Order Modal -->
                    <div class="modal fade" id="confirmDeleteOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="/admin/change-shipping-fee?idOrder=<%=order.idOrder%>&idAccount=<%=account.id%>" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-danger text-center display-1">
                                            <i class="bi bi-x-circle"></i>
                                        </p>
                                        <h5 class="text-center">Bạn có chắc chắn muốn xóa đơn hàng này ?</h5>
                                        <p class="text-center">Lưu ý bạn sẽ không thể khôi phục lại đơn hàng này</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/admin/delete-order?idOrder=<%=order.idOrder%>" class="btn btn-primary">Xóa</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div style="background-color: white;" class="d-flex align-items-start p-3 my-3 text-dark-50 rounded shadow-sm">

                        <div class="lh-100 w-100">

                            <h5><b>Thông tin khách hàng</b></h5>

                            <h6 class="mb-0 text-dark lh-100">
                                Họ tên: <%= account.fullname %>
                            </h6>

                            <h6 class="mb-0 text-dark lh-100">

                                <% if( account.gender == 'Male' ) {%>
                                    Giới tính: Nam
                                <% } %>

                                <% if( account.gender == 'Female' ) {%>
                                    Giới tính: Nữ
                                <% } %>
                            </h6>
                            
                            <h6 class="mb-0 text-dark lh-100">
                                Ngày sinh: <script>displayBirthday('<%= account.birthday %>')</script>
                            </h6>

                            <h6 class="mb-0 text-dark lh-100">
                                Email: <%= account.email %>
                            </h6>

                            <h6 class="mb-0 text-dark lh-100">
                                Phone: <%= account.phone %>
                            </h6>
                        </div>

                        <div class="lh-100 w-100">

                            <h5><b>Địa chỉ giao hàng</b></h5>

                            <h6 class="mb-0 text-dark lh-100"><%= order.shippingAddress %></h6>
                        </div>

                        <div class="lh-100 w-100">

                            <h5><b>Ghi chú của khách hàng</b></h5>

                            <h6 class="mb-0 text-dark lh-100"><%= order.note %></h6>
                        </div>
                    </div>

                    <div style="background-color: white;" class="d-flex align-items-start p-3 my-3 text-dark-50 rounded shadow-sm">
                        <div id="bill" class="table-responsive fs--1">
                            <table class="border-bottom table table-striped">
                                <thead class="bg-200 text-900">
                                    <tr>
                                        <th class="border-0">Sản phẩm</th>
                                        <th class="border-0 text-center">Số lượng</th>
                                        <th class="border-0 text-end">Đơn giá</th>
                                        <th class="border-0 text-end">Tổng số</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% productOrderList.forEach((product, index) => { %>
                                        <tr class="border-200">
                                            <td class="align-middle">
                                                <h6 class="mb-0 text-nowrap"><%= product.name %></h6>
                                                <% if (product.price > product.productPrice) { %>
                                                    <small class="mb-0">Áp dụng khuyến mãi <%= (product.price - product.productPrice)*100/product.price %>%</small>
                                                <% } %>
                                            </td>
                                            <td class="align-middle text-center"><%= product.quantityProduct %></td>
                                            <td class="align-middle text-end"><script>displayNumber2VND('<%= product.productPrice %>')</script></td>
                                            <td class="align-middle text-end"><script>displayNumber2VND('<%= product.productPrice * product.quantityProduct %>')</script></td>
                                        </tr>
                                    <% }) %>

                                </tbody>
                            </table>
                            <div class="g-0 justify-content-end row">
                                <div class="col-auto">
                                    <table class="fs--1 text-end table table-sm table-borderless">
                                        <tbody>
                                            <tr>
                                                <th class="text-900">Tổng tiền đơn hàng:</th>
                                                <td class="fw-semi-bold"><script>displayNumber2VND('<%= order.totalPrice %>')</script></td>
                                            </tr>
                                            <tr>
                                                <th class="text-900">
                                                    Phí vận chuyển:
                                                </th>
                                                <td class="fw-semi-bold"><script>displayNumber2VND('<%= order.shippingFee %>')</script></td>
                                            </tr>
                                            <tr class="border-top">
                                                <th class="text-900">Tổng phải trả:</th>
                                                <td class="fw-semi-bold"><script>displayNumber2VND('<%= order.totalPrice + order.shippingFee %>')</script></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; By Dao Thi Hien 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>